.menuMob {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: var(--darkOrange);
    display: none;
    transition: 0.8s;
}

.menuMob ul {
    list-style: none;
    padding-top: 100px;
    padding-left: 20px;
    line-height: 2;
}


.menuMob ul li a {
    text-decoration: none;
    font-weight: 600;
}

.menuMob .off-login,
.menuMob .off-register {
    display: none;
}

.menuMob .on-login,
.menuMob .on-register {
    display: block;
}

.menuMob>ul li button {
    border: 0;
    background-color: transparent;
    font-size: 0.85rem;
    font-weight: 600;
}

@media screen and (max-width: 560px) {
    .menuMob {
        display: block;
    }
}