.search {
    width: 100%;
    height: 100vh;
    background: url('../../Assets/-Digimon.jpg') no-repeat center/cover;
    padding: 5px 2%;
    padding-top: 60px;
}

.search h1 {
    text-align: center;
    padding-top: 30px;
    color: var(--middleBlue);
    font-size: 1.8rem;
}

.search .input {
    max-width: 22rem;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.input input {
    width: 100%;
    height: 100%;
    padding: 8px 1%;
    outline: 0;
    border: 0;
    border-radius: 15px;
    color: var(--middleBlue);
}

.input input:focus {
    box-shadow: 1px 1px 10px var(--middleBlue);
}

.input button {
    position: absolute;
    right: 0;
    border-radius: 100%;
    width: 40px;
    height: 100%;
    background: transparent;
    border: 0;
}


.input button:hover:before {
    width: 0;
}

.input button img {
    height: 27px;
    transition: 0.2s;
}

.input button img:hover {
    width: 35px;
    height: 35px;
}

.no-search {
    width: 100%;
    height: 100vh;
    background: url('../../Assets/digimon-survive.jpg') no-repeat center/cover;
    padding: 30px 2%;
}

.no-search .container {
    padding-top: 60px;
}

.no-search h2 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--floralWhite);
}

.no-search button {
    margin: auto;
    display: block;
    width: 80px;
    border-radius: 12px;
    border: 1px solid var(--darkOrange);
    padding: 4px 0;
    transition: 0.6s;
}

.no-search button a {
    text-decoration: none;
    color: var(--floralWhite);
    transition: 0.6s;
}

.no-search button:hover>a {
    color: var(--middleBlue);
}


@media screen and (max-height: 822px) {
    .search {
        height: auto;
        padding-bottom: 73vh;
    }
}

@media screen and (max-height: 406px) {
    .no-search {
        height: auto;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 560px) {
    .search h1 {
        font-size: 1.5rem;
        padding-top: 75px;
    }

    .no-search h2 {
        font-size: 1.5rem;
        padding: 10px 0;
        margin-top: 32px;
    }
}